.pvoxLoader{
     width:100%;
     height:calc(100vh - 80px);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.pvoxLoader video {
    width: 7%;
}

@media (max-width:768px){
    .pvoxLoader video{
         width:10%;
    }
}