.homeBg{
    width:100vw;
}
.homeContentBg{
    margin-top: 120px;
    height: calc(100vh - 120px); 
    position: relative;
    display: flex;
    overflow-y: auto;
    scrollbar-width: none;
}

.filterBox{
    width: 20%;
    height: 70vh;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}


.mainBox{
    width:80%;
}


.SearchAndFilterBox{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.searchBox{
    width:70%;
    height: 60px;
    background-color: rgb(238, 238, 238);
    border-radius: 7px;
     box-shadow: 0 2px  5px rgba(0, 0, 0, 0.192);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
}

.searchBox input {
    width:80%;
    height: 100%;
    background-color:transparent;
    border: none;
    padding-left: 30px;
    color: #3a3a3a;
    outline: none;
}
.searchBox svg{
    font-size: 1.2em;
    color: #b6b5b5;
    margin-right: 25px;
}

.searchBox input::placeholder{
  color: rgb(173, 173, 173);
}


.filtersWrapper{
    display: none;
}


.photoApiBox{
    width:95%;
    margin-top: 50px;
    column-count: 3;
    padding-left: 0;
    list-style-type: none;
}

.videoApiBox{
    width:95%;
    margin-top: 50px;
    column-count: 2;
    padding-left: 0;
    list-style-type: none;
}

.pvoxLoader{
   width:95%;
   height: calc((100vh - 120px) - 100px);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.loaderVideo{
    width: 80px;
}

.pvoxErrorBg{
    width:95%;
    height: calc((100vh - 120px) - 100px);
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

.pvoxErrorBg video{
    width:600px;
}

.errorText{
    display: none;
}


.nothingLikedBg{
    width:95%;
    height: calc((100vh - 120px) - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
}

.nothingLikedBg video{
    width: 250px;
}
.nothingLikedBg p{
    font-size: 1em;
}

.likedDataBg{
    width:95%;
    margin-top: 50px;
    column-count: 3;
    padding-left: 0;
    list-style-type: none;
}
@media(max-width:1024px){
   .homeContentBg{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
   }

   .filterBox{
    width: 90%;
    height: 100px;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #fff;
    z-index: 1;
    padding-bottom: 30px;
}


.mainBox{
    width:80%;
    z-index: 0;

}

.demo{
    height: 2000px;
}

.searchBox{
    margin: auto;
}

.videoApiBox{
    width: 100%;
}

.photoApiBox{
    width: 100%;
}
}


@media(max-width:768px){
    .searchBox input{
        padding-left: 10px;
    }
    .searchBox input::placeholder{
      color: rgb(173, 173, 173);
      font-size: 0.8em;
    }

    .filterBox{
        display: none;
    }
    .SearchAndFilterBox{
        position: sticky;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        top:0;
        padding-bottom: 20px;
        z-index: 1;
    }

    .mainBox{
        width:90%;
        height: calc(100vh - 180px); 
        overflow-y: auto;
        scrollbar-width: none;
        position: relative;
        z-index: 0;
    }
    .searchBox {
        margin:0;
        height: 50px;
    }

    .filtersWrapper {
        display: flex;
      position: relative;
      width: 20%;
}



.filtersCta {
  display: flex;
  background-color: #efefef;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 36px; /* make space for icon */
  border-radius: 7px;
  color: #454545;
  font-size: 0.8em;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  
}

.filtersIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* so clicks still open select */
  color: #000;
}
   .photoApiBox{
    width:100%;
    margin-top: 50px;
    column-count: 2;
    padding-left: 0;
    list-style-type: none;
   }
   .videoApiBox{
    column-count: 1;
    width: 100%;
  }

  .likedDataBg{
    width:95%;
    margin-top: 50px;
    column-count: 2;
    padding-left: 0;
    list-style-type: none;
}
  .pvoxErrorBg video{
    width:400px;
}
}


